html, body{
	height: 100%;
}

*{
    text-align: center;
}

#allStrains a{
	color: white !important;
}


.bold{
	font-weight: bold;
}

.card{
  margin-bottom: 50px;
}

.card-text{
	height: 100px;
	overflow: hidden;        
}

.card-img-overlay{
	background-color: rgba(94, 89, 89, .4);
}

.carousel-caption h5{
	color: white;
	font-size: 25px;
	font-weight: bold;
	background-color: rgba(0, 0, 0, .8);
	border-radius: 10px;
}

.class .card-img-overlay{
	font-weight: bold;
	background-color: rgba(0, 0, 0, .5);	
}

.glyphicon img{
	height: 20%;
	width: 20%;
}

#mainPage{
	margin-top: 8%;
}

.no-border{
	border: none !important;	
}

#sativa .card-title, #indica .card-title, #hybrid .card-title, #allStrains .card-title{
	font-size: 26px;
}

#sativa .card-text, #indica .card-text, #hybrid .card-text, #allStrains .card-text{
	font-size: 20px;
}

.price{
	font-size: 40px !important;
}

.resize-icon{
	width: 150px;
}

#smartShopLogo{
	max-height: 50px;
	max-width: 200px;
}

.basket-items img{
	width: 80px;
	height: 80px;
}

/*BASKET TABLE STARTS*/

.table>tbody>tr>td,
.table>tfoot>tr>td {
  vertical-align: middle;
}

@media screen and (max-width: 600px) {
  table#cart tbody td .form-control {
    width: 20%;
    display: inline !important;
  }
  .actions .btn {
    width: 36%;
    margin: 1.5em 0;
  }
  .actions .btn-info {
    float: left;
  }
  .actions .btn-danger {
    float: right;
  }
  table#cart thead {
    display: none;
  }
  table#cart tbody td {
    display: block;
    padding: .6rem;
    min-width: 320px;
  }
  table#cart tbody tr td:first-child {
    background: #333;
    color: #fff;
  }
  table#cart tbody td:before {
    content: attr(data-th);
    font-weight: bold;
    display: inline-block;
    width: 8rem;
  }
  table#cart tfoot td {
    display: block;
  }
  table#cart tfoot td .btn {
    display: block;
  }
}

/*BASKET TABLE ENDS*/

