{% extends 'layout.twig' %}

{% block contentAccount %}
  {% if passUpdated == 'updated' %}
    <div class="alert alert-success success-alert" role="alert">
      <p>Your password has been updated</p>
    </div>
  {% elseif passUpdated == 'diff' %}
    <div class="alert alert-danger success-alert" role="alert">
      <p>Your passwords don't match</p>
    </div>      
  {% endif %} 
  <div class="container-fluid">       
    <div class="row d-flex justify-content-around flex-wrap">
      <div class="card m-2" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md">
            <form action="newPassword.php" method="post">
              <div class="form-row">
                <div class="col-md-5 m-auto">
                  <label for="firstName">First name :</label>
                  <input type="text" class="form-control" id="firstName" placeholder="First Name" value="{{ session.name }}">
                  <div class="invalid-feedback">                    
                  </div>
                </div>
              </div>
							<div class="form-row mt-3 mb-4">
                <div class="col-md-5 m-auto">
                  <label for="password">New Password</label>
                  <input type="password" class="form-control" id="password" placeholder="Password" name="newPass" required>
                  <div class="invalid-feedback">
                    New password invalid
                  </div>
                </div>
                <div class="col-md-5 m-auto">
                  <label for="passwordCheck">Re-enter new password</label>
                  <input type="password" class="form-control" id="passwordCheck" placeholder="Password" name="newPassCheck" required>
                  <div class="invalid-feedback">
                    New password invalid
                  </div>
                </div>
              </div>
              <div class="form-group">
                <div class="form-check">
                  <input class="form-check-input needs-validation" type="checkbox" value="" id="invalidCheck3" required>
                  <label class="form-check-label" for="invalidCheck3">
                    Agree to terms and conditions
                  </label>
                  <div class="invalid-feedback">
                    You must agree before submitting.
                  </div>
                </div>
              </div>
              <button class="btn btn-primary" type="submit">Change Password</button>
            </form>

          </div>
        </div>
      </div>
    </div>
  {% endblock %}
