<header>
	<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3">
	  <a class="navbar-brand" href="?p=home"><img src="./public/img/smartShop.png" alt="Smart Shop Logo" id="smartShopLogo" ></a>
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	    <span class="navbar-toggler-icon"></span>
	  </button>

	  <div class="collapse navbar-collapse" id="navbarSupportedContent">
	    <ul class="navbar-nav mr-auto">
	      <li class="nav-item">
	        <a class="nav-link" href="?p=Sativa">Sativa</a>	        
	      </li>
	      <li class="nav-item">
	        <a class="nav-link" href="?p=Indica">Indica</a>
			   </li>				
				<li class="nav-item">
	        <a class="nav-link" href="?p=Hybrid">Hybrid</a>
				</li>	      
	    </ul>
	    <a href="?p=strains" class="btn btn-outline-success my-2 my-sm-0 mr-auto" role="button">Buy Weed</a>
	    <a href="?p=basket" type="button" class="btn btn-lg resize-icon">
		  	<span class="glyphicon" aria-hidden="true"><img src="./public/img/weedBasket.png" alt="weed basket"></span>
			</a>
	    <a href="?p=account" class="btn btn-outline-success my-2 my-sm-0" role="button">My Account</a>
  		<a href="?p=login" class="btn btn-outline-success ml-3 my-2 my-sm-0" role="button">Log in</a>	
	  </div>
	</nav>
</header>